@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

html, body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: black; */
  z-index: -1;
}

.bg img {
  display: block;
  width: 105%;
  height: 105%;
  object-fit: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  opacity: 50%;
}

.bg img:hover {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: 100%;
}

.clock {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.clock h1 {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 100pt;
  color: whitesmoke;
}